<div routerLink="/admin">TAGASI</div>

<form (ngSubmit)="onSubmit(addItemForm)" #addItemForm="ngForm">
    <label>NIMETUS</label><br>
    <textarea autosize type="text" ngModel name="title" placeholder="Sisesta toote nimetus" required></textarea</textarea><br>
    <label>HIND</label><br>
    <input type="number" ngModel name="price" placeholder="Sisesta toote hind" required><br>
    <label>PILT URL</label><br>
    <input type="text" ngModel name="imgSrc" placeholder="Sisesta pildi URL" required><br>
    <label>KATEGOORIA</label><br>
    <input type="text" ngModel name="category" placeholder="Sisesta toote kategooria" pattern="^[a-zA-Z]+$" required><br>
    <button type="submit" [disabled]="addItemForm.invalid">SISESTA</button><br>
</form>