<ngb-carousel *ngIf="images.length > 0">
  <ng-template *ngFor="let image of images" ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="image.url" alt={{image.alt}}>
    </div>
    <div class="carousel-caption">
      <h3>{{ image.header }}</h3>
      <p>{{ image.text }}</p>
    </div>
  </ng-template>
</ngb-carousel>

<br><br>

<div (click)="onCategorySelect(category)" *ngFor="let category of itemsOriginal | uniqueCategory">{{ category }}</div>

<br><br>

<div style="display: flex;">
  <span>Järjesta:</span>
  <button (click)="onSortByTitle()">Tähestiku järgi</button>
  <button (click)="onSortByPrice()">Hinna järgi</button>
</div>

<br><br>

<div *ngIf="isItemAddedToCart">Ese lisatud ostukorvi</div>

<div *ngIf="!itemsOriginal">Esemeid ei ole!</div>

<div class="items-wrapper">
<div class="item" *ngFor="let itemsShown of itemsShown">
    <app-item-card (addedToCartEvent)="onAddedToCart($event)" [item]=itemsShown></app-item-card>
  </div>
</div>